$bg: #000;
$col: #c3c3c3;

.container {
  width: 1170px;

  .row {
    width: 100%;
    padding: 0 15px;

    div {
      width: 10%;
      background: $bg;

      h1 {
        color: $col;
      }
    }
  }
}
